In [4]:
import mysql.connector 

# Establishing the connection
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    
)

# Creating a cursor object for executing queries
cursor = conn.cursor()


# Closing the cursor and connection
# cursor.close()
# conn.close()

In [13]:
#creating database
cursor.execute('create database Python')

In [2]:
# to check either the connection is successful or not


try:
    # Establishing the connection
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="",
        database="python"
    )

    if conn.is_connected():
        print("Connection to MySQL database successful")
    else:
        print("Connection to MySQL database failed")

except mysql.connector.Error as e:
    print("Error connecting to MySQL database:", e)

# finally:
    # Closing the connection
#     if 'conn' in locals() and conn.is_connected():
#         conn.close()
#         print("MySQL connection is closed")

Connection to MySQL database successful

In [5]:
#selecting database and creating table
cursor.execute('use python')
# cursor.execute('create table student(id int(4) PRIMARY KEY,name varchar(30),mobile varchar(10))')

In [6]:
#inserting values
q='insert into student(id,name,mobile) values (%s,%s,%s)'
v=(12,'harish joshi','7453966532') # values must be tuple.so no any cotts
cursor.execute(q,v)

DatabaseError: 1205 (HY000): Lock wait timeout exceeded; try restarting transaction

In [1]:
import mysql.connector

try:
    # Establishing the connection
    conn = mysql.connector.connect(
        host="localhost",
        user="root",
        password="",
        database="python"
    )
    
    cursor = conn.cursor()  # Moved inside the try block
    
    if conn.is_connected():
        # Inserting values
        q = 'INSERT INTO student (id, name, mobile) VALUES (%s, %s, %s)'
        v = (12, 'harish joshi', '7453966532')  # Values must be tuple, no quotes around numbers
        cursor.execute(q, v)

    else:
        print("Connection to MySQL database failed")

except mysql.connector.Error as e:
    print("Error connecting to MySQL database:", e)

# finally:
#     # Closing the connection
#     if 'conn' in locals() and conn.is_connected():
#         conn.close()
#         print("MySQL connection is closed")

Error connecting to MySQL database: 1205 (HY000): Lock wait timeout exceeded; try restarting transaction